.footer_container svg {
  color: #fff;
  height: 2rem;
  width: 2rem;
}
.footer {
  background-color: #000;
  color: #fff;
}
.footer svg {
  color: #ffffff;
  width: 2rem;
  height: 2rem;
}
.row {
  align-items: center;
  justify-content: center;
  height: 7rem;
}
.gitLogo {
  cursor: pointer;
  width: 3rem !important;
}
@media screen and (min-width: 767px) {
  .gitLogo {
    margin-left: 1rem;
  }
}
